@use '../base//functions' as fun;

.btn{
    width: 100px;
    font-size: 1.6rem;
    text-transform: uppercase;
    background-color: fun.color('primary');
    line-height: 1.1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    border: 2px solid fun.color('primary');
    color: fun.color('white');
    transition: .5s ease;
    transition-property: background-color, border-color;
    height: 40px;
    min-width: 250px;
    cursor: pointer;
    &::before,
    &::after{
        content: "";
        width: 5px;
        height: 5px;
        position: absolute;
        border-radius: 100px;
        background-color: fun.color('white');
        transition: .5s ease all;
    }
    &::before{
        left: 10px;
    }
    &::after{
        right: 10px;
    }
    &--small{
        height: 32.5px;
        font-size: 1.4rem;
        color: fun.color('white');
        min-width: 125px;
    }
    &:hover{
        border-color: fun.color('white');
        background-color: fun.color('fifthy');
        &::after{
            right: -10px;
        }
        &::before{
            left: -10px;
        }
    }
}

@media(max-width: fun.breakpoints('ipad-big')){
    .btn{
        font-size: 1.5rem;
        height: 37.5px;
    }
}

@media(max-width: fun.breakpoints('mobile')){
    .btn{
        height: 35px;
        font-size: 1.4rem;
        min-width: 100%;
    }
}