@use '../base/functions' as fun;

h1{
    font-size: 3rem;
    color: fun.color('fifthy');
    text-transform: uppercase;
}

h3{
    font-size: 2rem;
    color: fun.color('fifthy');
    b{
        font-weight: 900;
    }
}

p{
    font-size: 1.6rem;
    color: fun.color('fifthy');
}

h5{
    font-size: 1.8rem;
    color: fun.color('primary');
}

.center{
    text-align: center;
}

.mt-30{
    margin-top: 3rem;
}

b{
    font-weight: 900;
}

@media(max-width: fun.breakpoints('ipad-big')){
    h1{
        font-size: 2.5rem;
    }
}

@media(max-width: fun.breakpoints('mobile')){
    h1{
        font-size: 2rem;
    }
}