@use '../base/functions' as fun;
//Hamburger
@import '../components//hamburger';

.navbar{
    background-color: fun.color('fifthy');
    padding: 10px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 9;
    .navbar-brand{
        transition: .5s ease opacity;
        position: relative;
        z-index: 1;
        &:hover{
            opacity: .8;
        }
        img{
            width: 40px;
            filter: contrast(0.1) brightness(5.5);
        }
    }
    .navbar-collapse-nav{
        a{
            color: fun.color('white');
            font-size: 1.3rem;
            text-transform: uppercase;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                width: 0;
                height: 2px;
                background-color: fun.color('white');
                bottom: -2px;
                right: 0;
                transition: .5s ease all;
            }
            &:hover{
                &::before{
                    width: 100%;
                    left: 0;
                    right: unset;
                }
            }
        }
    }
    .navbar-content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 20px;
    }
    .navbar-collapse-logout{
        display: flex;
        align-items: center;
        gap: 10px;
        p{
            color: fun.color('white');
        }
    }
    .navbar-collapse-nav{
        display: flex;
        gap: 20px;
    }
}
        
@media(max-width: fun.breakpoints('ipad-big')){
    .navbar{
        .navbar-collapse-nav{
            flex-direction: column;
            align-items: center;
        }
        .navbar-content{
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            height: 100svh;
            background-color: fun.color('fifthy');
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            left: -120%;
            pointer-events: none;
            margin-left: 0;
            transition: 1s ease left;
        }
        .navbar-collapse{
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 20px;
        }
        .navbar-collapse-logout{
            margin-top: 60px;
            text-align: center;
            flex-direction: column;
        }
        &.active{
            .navbar-content{
                left: 0;
                pointer-events: inherit;
            }
        }
    }
}